# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Build output
/dist
/build

# Dependency directories
/bower_components

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
